venv/
authentication/migrations/
authentication/__pycache__/
campaigns/migrations/
campaigns/__pycache__/
campaigns/management/__pycache__/
campaigns/management/commands/__pycache__/
whatsapp_campaign/__pycache__/
whatsapp_campaign_streamlit/__pycache__/
whatsapp_campaign_streamlit/components/__pycache__/
whatsapp_campaign_streamlit/pages/__pycache__/
whatsapp_campaign_streamlit/venv-frontend/
whatsapp_campaign_streamlit/.streamlit/
media/


orders/migrations/
orders/__pycache__/
orders/media/
orders_streamlit/venv-ordersui/
orders_streamlit/.streamlit/

__pycache__/
orders/tools/__pycache__/
orders/API_FEATURES_SUMMARY.md
orders_streamlit/UI_IMPROVEMENTS_SUMMARY.md